<!--
<h1>{{title}}</h1>
<ul>
<li ng-repeat="thing in items">{{thing}}</li>
</ul>
-->
<!--add login system and/or make this page look better-->
<div class="home" style="width:800px; margin:0 auto;">
<img src="app/logoIRDb.jpg"  alt="Main logo" style="width:35%;height:35%;" >
<br><br>
<span class="alert alert-info" ng-init="display()" ng-show="alertDisplayed"  style="width:350px;">Internet Website Database</span>
<span class="alert alert-info" ng-init="display()" ng-show="!alertDisplayed"  style="width:350px;">Go ahead, rate a site :)</span>
<br><br>
<md-button class="md-raised" ng-model="button" ui-sref="rate" ng-init="display()" ng-show="!alertDisplayed">Rate</md-button>
</div>